<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <table>
        <thead>
            <th>Date</th>
            <th>Closing price</th>
        </thead>
        {{range .}}
        <tr>
            <td>{{.Date | fdateDMY }}</td>
            <td>{{.Open}}</td>
        </tr>
        {{end}}
    </table>
</body>

</html>