<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    {{range .}}
        <h1>{{.Type}}: {{.Name}}</h1>
        For only {{.Price}}<br>
        Containing:<br />
        <ul>
        {{range .Items}}
            <li>{{.Name}}</li>
        {{end}}
        </ul>
    {{end}}
</body>

</html>