<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}
    <h1>{{.AcaYear}}</h1>
    <h2>{{.Fall.Term}}</h2>
    <ul>
    {{range .Fall.Courses}}
        <li>No. {{.Number}}, {{.Name}}, {{.Units}} units</li>
    {{end}}
    </ul>
    <h2>{{.Spring.Term}}</h2>
    <ul>
    {{range .Spring.Courses}}
        <li>No. {{.Number}}, {{.Name}}, {{.Units}} units</li>
    {{end}}
    </ul>
    <h2>{{.Summer.Term}}</h2>
    <ul>
    {{range .Summer.Courses}}
        <li>No. {{.Number}}, {{.Name}}, {{.Units}} units</li>
    {{end}}
    </ul>
{{end}}

</body>
</html>